<div class="home-page">
        <div class="home-page-content">
            <section class="home-page-sect_1">
                <figure class="home-page-sect_1-photo-box">
                    <!--<img src="images/home-phone-bg.jpg" alt="Smartphone picture" class="home-page-sect_1-photo">-->
                    <%= image_tag 'home-phone-bg.jpg', class: 'home-page-sect_1-photo' %>
                </figure>
            </section>
            <section class="home-page-sect_2">
                <!-- Card Start  -->
                <div class="card home-page-sect_2-card--1">
                    <div class="card__body">
                        <!-- Form Start  -->
                        <form class="form home-page-sect_2-login-form">
                            <div class="form__group">
                                <figure class="form__home-page-sect_2-photo-box--1 form__home-page-sect_2-mb-3_8">
                                    <!--<img src="images/logo.png" alt="Instagram Logo" class="form__home-page-sect_2-photo">-->
                                    <%= image_tag 'logo.png', class: 'form__home-page-sect_2-photo' %>
                                </figure>
                            </div>
                            <div class="form__group form__group--mb-0_4">
                                <input type="email" class="form__control" id="email" name="email" autocomplete="off" placeholder="Phone number, username or email address">
                            </div>
        
                            <div class="form__group form__group--mb-0 form__home-page-sect_2-mb-1_6">
                                <input type="password" class="form__control" id="password" name="password" placeholder="Password">
                            </div>
        
                            <!-- Button Start -->
                            <button type="submit" class="form__btn form__home-page-sect_2-btn--1 form__btn--block">
                                Login
                            </button>
                            <!-- Button End -->
        
                            <div class="form__group form__group--mt-1_8">
                                <div class="form__home-page-sect_2-text-box--1">
                                    <p class="form__home-page-sect_2-text--1">or</p>
                                </div>
                            </div>
        
                            <div class="form__group form__group--mt-3_4">
                                <div class="form__home-page-sect_2-photo-link-box">
                                    <figure class="form__home-page-sect_2-photo-box--2">
                                        <!--<img src="images/facebook.png" alt="Facebook Logo" class="form__home-page-sect_2-photo">-->
                                        <%= image_tag 'facebook.png', class: 'form__home-page-sect_2-photo' %>
                                    </figure>
                                    <div class="form__home-page-sect_2-link-box--1">
                                        <a href="#" class="form__home-page-sect_2-link--1">
                                            Log in with Facebook
                                        </a>
                                    </div>
                                </div>
                            </div>
        
                            <div class="form__group form__group--mt-0_8">
                                <div class="form__home-page-sect_2-text-box--2">
                                    <small class="form__home-page-sect_2-text--2">
                                        <a href="#" class="form__home-page-sect_2-link--2">
                                            Forgotten your password?
                                        </a>
                                    </small>
                                </div>
                            </div>
                        </form>
                        <!-- Form End -->
                    </div>
                </div>
                <!-- Card End -->
        
                <!-- Card Start -->
                <div class="card home-page-sect_2-card--2">
                    <div class="card__body card__body--p-2_1">
                        <div class="card__home-page-sect_2-text-box--1">
                            <p class="card__home-page-sect_2-text--1">Don't have an account?
                                <a href="#" class="card__home-page-sect_2-link--1">Sign up</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Card End -->
            </section>
            <footer class="footer home-page-sect_3">
                <div class="footer__box">
                    <div class="footer__home-page-row--1 footer__home-page-row--bdr-0 footer__home-page-row--bxsh-0">
                        <div class="footer__link-box">
                            <a href="#" class="footer__link">Link 1</a>
                            <a href="#" class="footer__link">Link 2</a>
                            <a href="#" class="footer__link">Link 3</a>
                            <a href="#" class="footer__link">Link 4</a>
                            <a href="#" class="footer__link">Link 5</a>
                            <a href="#" class="footer__link">Link 6</a>
                            <a href="#" class="footer__link">Link 7</a>
                            <a href="#" class="footer__link">Link 8</a>
                            <a href="#" class="footer__link">Link 9</a>
                            <a href="#" class="footer__link">Link 10</a>
                            <a href="#" class="footer__link">Link 11</a>
                            <a href="#" class="footer__link">Link 12</a>
                        </div>
                    </div>
                    <div class="footer__home-page-row--2 footer__home-page-row--bdr-0 footer__home-page-row--bxsh-0">
                        <div class="footer__signature-box">
                            <div class="footer__text-box--1">
                                <p class="footer__text--1">English (UK)</p>
                            </div>
                            <div class="footer__text-box--2">
                                <p class="footer__text--2">&copy; 2023 Instagram from Meta</p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>