// Breakpoints
$bp-1650: 103.125em;  // 1650px
$bp-1290: 80.625em;  // 1290px
$bp-640: 40em;  // 640px

:root {  /* Custom Properties */
    --colour-black-1: #000000;
    --colour-white-1: #FFFFFF;
    --colour-white-2: #E4E4E4;
    --colour-grey-1: #999595;
    --colour-blue-1: #5388EA;
    --colour-blue-2: #0E0E8A;
}